<label class="form__label">
  <span>{{t translationKey}}</span>
  <input
    data-test-time-input-type={{timeUnit}}
    oninput={{action (action changeAction timeUnit) value="target.value"}}
    onkeypress={{action "onlyNumbers"}}
    placeholder="--"
    value={{value}}
    type="number"
    min="0"
    step="1"
    class="form__input"
    disabled={{disabled}}
  >
</label>
