<label class="form__label">
  {{t translationKey}}
  <input
    data-test-time-input-type={{timeUnit}}
    oninput={{action (action changeAction timeUnit) value="target.value"}}
    placeholder="--"
    value={{value}}
    type="number"
    class="form__input"
    disabled={{disabled}}
  >
</label>
